.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7c4dff;
  font-family: 'Arial', sans-serif;
}

.quiz-container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 500px;
}

.question-count {
  margin-bottom: 20px;
}

.question-text {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.option-section {
  margin-bottom: 20px;
}

.option-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f7f7f7;
  cursor: pointer;
}

.option-button:hover, .option-button.selected {
  background: #e0e0e0;
}

.submit-button {
  padding: 10px 20px;
  background-color: #7c4dff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #5e35b1;
}

/* Ajoutez ceci à votre App.css */
.result-screen {
  text-align: center;
  padding: 20px;
}

.result-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.result-card {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.result-card h3 {
  margin: 0 0 10px 0;
}

.result-screen button {
  background-color: #4CAF50; /* Vert pour réussir, changez la couleur pour échouer */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.result-screen button:hover {
  opacity: 0.8;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: lightcoral;
}

.correct-answer {
  background-color: lightgreen;
  color: white;
}

@keyframes blink {
  0%, 100% { background-color: transparent; }
  50% { background-color: lightgreen; }
}

.correct-answer-blink {
  animation: blink 1s linear infinite;
}

.option-button:disabled {
  background-color: #ccc;
}

.option-button.correct {
  background-color: #4CAF50; /* Vert pour correct */
}

.option-button.incorrect {
  background-color: #f44336; /* Rouge pour incorrect */
}

